html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --accent: #2196f3;
  --black-title: #212121;
  --basic-text: #757575;
  --secondary-color: rgba(255, 255, 255, 0.6);
  --additional-color: #ffffff;
}

body {
  background-color: var(--additional-color);
  color: var(--basic-text);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0 15px;
}

/*header*/

.header {
  border: 1px solid #ececec;
}

.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.accent {
  color: var(--accent);
}

/*nav*/

.header-nav {
  display: flex;
}

.site-nav .link-nav {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--black-title);
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link-nav:hover,
.site-nav .link-nav:focus {
  color: var(--accent);
}

.site-nav .link.current {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--accent);
  font-weight: 500;
  text-decoration: none;
}

.site-nav {
  padding-left: 0;
  margin-left: 93px;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  list-style: none;
}

.site-nav li:not(:last-child) {
  margin-right: 50px;
}

.main-nav {
  display: flex;
  align-items: center;
}

/*contact*/

.connect {
  color: var(--basic-text);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.connect:hover,
.connect:focus {
  color: var(--accent);
}

.contacts {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  padding-left: 0;
  display: flex;
  list-style: none;
}

.contacts li:not(:last-child) {
  margin-right: 50px;
}

/*hero*/

.section-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  text-align: center;
}

.hero-title {
  width: 696px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  background-color: #2f303a;
  color: var(--additional-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-btn {
  padding: 10px 32px;
  min-width: 216px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent);
  color: var(--additional-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
}

/*section-features*/

.section-features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list:not(:last-child) {
  margin-right: 30px;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.featurs-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--black-title);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.featurs-text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--basic-text);
  line-height: 1.71;
}

.features-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

/*section-skill*/

.section-skill {
  padding-bottom: 94px;
}

.skill-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--black-title);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.06em;
}

.section-icon {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.section-icon li:not(:last-child) {
  margin-right: 30px;
}

/*section-team*/

.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}

.section-team-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--black-title);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.list-team {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;
}

.list {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.list:not(:last-child) {
  margin-right: 30px;
}

.team-text {
  padding-top: 30px;
  padding-bottom: 30px;
  background: var(--additional-color);
  border-radius: 0px 0px 4px 4px;
}

.title-team {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--black-title);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.profession {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--basic-text);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* section-filtr */

.section-filtr {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filtr-works {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-left: 0;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.item {
  flex-basis: calc((100% - 60px) / 3);
  background: var(--additional-color);
}

.item:nth-child(3n) {
  margin-right: 0;
}

.item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.link-filtr {
  display: inline-block;
  text-decoration: none;
}

.filtr-item {
  border: 1px solid #eeeeee;
}

.filtr-title {
  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 24px;
  color: var(--black-title);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.filtr-text {
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 24px;
  color: var(--basic-text);
  font-size: 16px;
  line-height: 1.88;
}

/*button-portfolio*/

.btns {
  padding: 6px 22px;
  border-radius: 4px;
  background-color: #f5f4fa;
  color: var(--black-title);
  font-weight: 500;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  border: none;
}

.btns:hover,
.btns:focus {
  background-color: var(--accent);
  color: var(--additional-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filtr-btns {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 50px;
  padding-left: 0;
  list-style: none;
}

.filtr-btns li:not(:last-child) {
  margin-right: 8px;
}

/*footer*/

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}

.footer-logo {
  margin-bottom: 20px;
  color: var(--additional-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  display: inline-block;
}

.address {
  font-style: normal;
}

.address-nav {
  color: var(--additional-color);
  line-height: 1.71;
  text-decoration: none;
}

.address-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.address-list li:not(:last-child) {
  margin-bottom: 9px;
}

.address-nav:hover,
.address-nav:focus {
  color: var(--accent);
}

.address-contact {
  color: var(--secondary-color);
  line-height: 1.71;
  text-decoration: none;
  display: inline-block;
}

.address-contact:hover,
.address-contact:focus {
  color: var(--accent);
}
